html {
    background:url(images/Livello-5.png);
    height: 100%;

}

body {
    height: 100%;

}

img {
    border: 10px;
    border-radius: 4px;
    display: block;
}

.content {
    min-height: 100%;
    position: relative;
     margin: 69px 68px;
}

.header {
    width: 1063px;
    height: 23px;
    top: 68px;
    left: 69px;
}

.aside {
    float: right;
    margin: 0px 68px;
}

.icons {
    margin: 20px 0px;
}

.topposts {
    display: inline;
}

.share {
    margin: 30px 0px;
    align-content: flex-end;
    align-items: flex-end;
}

.footer {
    background: url(images/background.png);
    position: relative;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
}

.f_items {
    margin: 40px 40px;
}

