    <section class = "main__demo">        
        <div class = "i-do-button"><a href="index.html">{{buttonRight}}</a></div>
        <article class = "demo-text">
            <div class = "day">{{date}}</div>
            <h2>{{headerText}}</h2>
            <div class = "line"></div>
            <p class = "default-paragraph">{{mainText}}</p>
            <div class = "main__footer">
                <div class = "read-more"><a class = "read-more" href="index.html">{{buttonBottom}}</a></div>
                <div class = "hashTags"><a href="index.html">#explorer</a>   <a href="index.html">#peak</a>   <a href="index.html">#yosemite</a></div>
            </div>
        </article>
    </section>