{% extends "layout.html" %}


        {% block header %}

		<button class="burger"><img src="./images/burger.png"></button>
		<button class="cross"><img src="./images/cross.png"></button>

		  <a class = "nav-menu__item" href = "index.html">home</a>
		  <a class = "nav-menu__item nav-menu__item_current" href ="about.html">about</a>
          <a class = "nav-menu__item" href = "index.html">archive</a>
          <a class = "nav-menu__item" href = "contacts.html">contact</a>
          <a class = "nav-menu__item" href = "index.html"><img src="./images/search-icon.png" alt="search-icon-black"></a>
                  
        {% endblock %}


        {% block main %}
    
            <main class = "content">          
                <section class = "main__demo">
                        <article class = "demo-text">
                        <h2>About</h2>
                            <div class = "line"></div>
							<div class = "about-form-inside">
                            <form id = "about-form" class = "about-form">
                                
                                <p>First Name <input class = "about-form about-form__name" form = "about-form" type="text" id = "firstName" name="firstName" placeholder="Your first name" pattern = "^[a-zA-Z]+$"></p>
                                <p class ="hint" id = "namefirsthint">Поле должно содержать только латинские буквы</p>
								<p class ="hint" id = "nameemptyhint">Поле обязательно к заполнению</p>
								
                                <p>Last Name <input class = "about-form about-form__name" form = "about-form" type="text" id = "lastName" name="lastName" placeholder="Your last name" pattern = "^[a-zA-Z]+$"></p>
                                <p class ="hint" id = "lastnamefirsthint">Поле должно содержать только латинские буквы</p>
								<p class ="hint" id = "lastnameemptyhint">Поле обязательно к заполнению</p>
								
                                <p>E-mail <input class = "about-form about-form__mail" form = "about-form" type="email" id = "mail" name="mail" placeholder="Your mail" pattern = "/^[a-z0-9_-]+@[a-z0-9-]+\.[a-z]{2,6}$/i"></p>
                                <p class ="hint" id = "mailfirsthint">Поле должно содержать адрес эл. почты</p>
								<p class ="hint" id = "mailemptyhint">Поле обязательно к заполнению</p>
								
                                <p>Phone <input class = "about-form about-form__phone" form = "about-form" type="text" name="phone" id = "phone" placeholder="+7 (___) ____-__-__" ></p>
                                
                                <p>Date of Birth <input class = "about-form about-form__date" form = "about-form" type="text" id="datepicker" name = "date" placeholder="DD/MM/YYYY"></p>
                                
                                <p>Sex</p>
                                <p class = "radio-button"><input form = "about-form" type = "radio" name = "gender" value = "male" checked> Male</p>
                                <p class = "radio-button"><input form = "about-form" type = "radio" name = "gender" value = "female"> Female</p>
                                
                            </form>
                            <div class = "main__footer_little-margin">
                                <button class = "read-more submit nomargin" type="submit" id = "submit" name = "submit" value="submit"><a class = "submit-button" href="about.html">submit</a></button>
                            </div>
							</div>
                        </article>
                </section>
                
            </main>

       {% endblock %}


        {% block footer %}
                            
        <a class = "nav-menu__item footer-menu footer-menu-item " href = "index.html">home</a>
        <a class = "nav-menu__item footer-menu-item nav-menu__item_current" href = "about.html">about</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "index.html">archive</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "contacts.html">contact</a>
        <a class = "nav-menu__item footer-menu footer-menu-item footer-share" href = "index.html"><img src="./images/search-icon-white.png"></a>

        {% endblock %}