{% extends "layout.html" %}


        {% block header %}
          
          <a class = "header__menu_item" href = "index.html">home</a>
          <a class = "header__menu_item" href ="index.html">about</a>
          <a class = "header__menu_item" href = "index.html">archive</a>
          <a class = "header__menu_item header__menu_item-current" href = "contacts.html">contact</a>
          <a class = "header__menu_item" href = "index.html"><img src="../images/search-icon.png" alt="search-icon-black"></a>
                  
        {% endblock %}


        {% block main %}
    
            <main class = "content">          
                <section class = "main__demo">
                        <article class = "demo__text">
                        <h2>Contact Us.</h2>
                        <p class = "default-paragraph">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
                            <div class = "line"></div>
                            <form id = "contact-form" class = "contact-form">
                                <input class = "contact-form contact-form__name" form = "contact-form" type="text" name="sender-name" placeholder="your name">
                                <input class = "contact-form contact-form__mail" form = "contact-form" type="email" name="mail" placeholder="email">
                                <input class = "contact-form contact-form__subject" form = "contact-form" type="text" name="subj" placeholder="subject" >
                                <textarea class = "contact-form contact-form__message" form = "contact-form" type="text" name="msg" placeholder="your message"></textarea>
                            </form>
                            <div class = "main__footer">
                                <button class = "read-more submit" type="submit"><a class = "read-more" href="index.html">send message</a></button>
                            </div>
                        </article>
                </section>
                
            </main>

       {% endblock %}


        {% block footer %}
                
        <a class = "header__menu_item footer__menu footer__menu_item " href = "index.html">home</a>
        <a class = "header__menu_item footer__menu footer__menu_item" href = "index.html">about</a>
        <a class = "header__menu_item footer__menu footer__menu_item" href = "index.html">archive</a>
        <a class = "header__menu_item footer__menu_item header__menu_item-current" href = "contacts.html">contact</a>
        <a class = "header__menu_item footer__menu footer__menu_item footer__share" href = "index.html"><img src="../images/search-icon-white.png"></a>

        {% endblock %}