{% extends "layout.html" %}


        {% block header %}
          
          <!--  <a class = "burger" href = "index.html"><img src = "./images/burger.png" alt="burgermenu"></a> -->

		<button class="burger">&#9776;</button>
		<button class="cross">&#735;</button>

		  <a class = "nav-menu__item" href = "index.html">home</a>
          <a class = "nav-menu__item" href ="about.html">about</a>
          <a class = "nav-menu__item" href = "index.html">archive</a>
          <a class = "nav-menu__item nav-menu__item_current" href = "contacts.html">contact</a>
          <a class = "nav-menu__item" href = "index.html"><img src="./images/search-icon.png" alt="search-icon-black"></a>
                  
        {% endblock %}


        {% block main %}
    
            <main class = "content">          
                <section class = "main__demo">
                        <article class = "demo-text">
                        <h2>Contact Us.</h2>
                        <p class = "default-paragraph">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
                            <div class = "line"></div>
                            <form id = "contact-form" class = "contact-form">
                                <input class = "contact-form contact-form__name" form = "contact-form" type="text" name="sender-name" placeholder="your name">
                                <input class = "contact-form contact-form__mail" form = "contact-form" type="email" name="mail" placeholder="email">
                                <input class = "contact-form contact-form__subject" form = "contact-form" type="text" name="subj" placeholder="subject" >
                                <textarea class = "contact-form contact-form__message" form = "contact-form" type="text" name="msg" placeholder="your message"></textarea>
                            </form>
                            <div class = "main__footer">
                                <button class = "read-more submit" type="submit"><a class = "read-more" href="index.html">send message</a></button>
                            </div>
                        </article>
                </section>
                
            </main>

       {% endblock %}


        {% block footer %}
                            
        <a class = "nav-menu__item footer-menu footer-menu-item " href = "index.html">home</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "about.html">about</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "index.html">archive</a>
        <a class = "nav-menu__item footer-menu-item nav-menu__item_current" href = "contacts.html">contact</a>
        <a class = "nav-menu__item footer-menu footer-menu-item footer-share" href = "index.html"><img src="./images/search-icon-white.png"></a>

        {% endblock %}