{% extends "layout.html" %}

        {% block header %}
          

        <!--  <a class = "burger" href = "index.html"><img src = "./images/burger.png" alt="burgermenu"></a> -->

		<button class="burger"><img src="./images/burger.png"></button>
		<button class="cross"><img src="./images/cross.png"></button>

          <a class = "nav-menu__item nav-menu__item_current" href = "index.html">home</a>
          <a class = "nav-menu__item" href ="about.html">about</a>
          <a class = "nav-menu__item" href = "index.html">archive</a>
          <a class = "nav-menu__item" href = "contacts.html">contact</a>
          <a class = "nav-menu__item" href = "index.html"><img src="./images/search-icon.png" alt="search-icon-black"></a>

        {% endblock %}


        {% block main %}
            
            <main class = "content"> 
                
                <div class="js-articles"></div>
                   
            </main>
        
        {% endblock %}


        {% block footer %}
                
        <a class = "nav-menu__item footer-menu-item nav-menu__item_current" href = "index.html">home</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "about.html">about</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "index.html">archive</a>
        <a class = "nav-menu__item footer-menu footer-menu-item" href = "contacts.html">contact</a>
        <a class = "nav-menu__item footer-menu footer-menu-item footer-share" href = "index.html"><img src="./images/search-icon-white.png"></a>

        {% endblock %}