<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
		<title>index-1440</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="7bits, Омск, html, css, psd">
        <meta name="description" content="frontend course 2016">
        <link rel="stylesheet" href="./vendor/css/vendor.css">
        <link rel="stylesheet" href="./styles/style.css">
        <link rel="icon" type="image/ico" href="./images/favicon16.ico" sizes="16x16" />
        <link rel="icon" type="image/ico" href="./images/favicon32.ico" sizes="32x32" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
    
	</head>

    
	<body>
    <header class = "header content">
      <div class = "header-leftside">
        <a href = "index.html"><img src="./images/logo.png" alt="logo"></a>
          </div>
            <div class = "nav-menu header-rightside">
              <nav>
                  {% block header %}
                  {% endblock %}
              </nav>
            </div>
    </header>
	
		
		<div class="burger-menu">
		  <ul>
			<a href="index.html"><li>home</li></a>
			<a href="about.html"><li>about</li></a>
			<a href="index.html"><li>archive</li></a>
			<a href="contacts.html"><li>contact</li></a>
		  </ul>
		</div> 	
		
		
		
    {% block main %}
    {% endblock %}

        <footer class = "footer">
            <a href = "index.html"><img class = "footer__logo" src="./images/logo.png" alt="logo"></a>
            <nav class = "nav-menu footer-menu">

                {% block footer %}
                {% endblock %}

            </nav>
            <div class = "footer-text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
            <div class = "copyright">©2015 - Palo Alto. All Rights Reserved. Designed and Developed by<a class = "menu footer-menu team-link" href = "index.html">PixelBuddha Team</a></div>
            <nav class = "nav-menu footer-menu">
                <a class = "nav-menu__item footer-share" href = "index.html"><img src="./images/fb.png" alt="facebook_icon"></a>
                <a class = "nav-menu__item footer-share" href = "index.html"><img src="./images/tw.png" alt="twitter_icon"></a>
                <a class = "nav-menu__item footer-share" href = "index.html"><img src="./images/inst.png" alt="instagramm_icon"></a>
                <a class = "nav-menu__item footer-share" href = "index.html"><img src="./images/pinterest.png" alt="pinterest_icon"></a>
            </nav>
        </footer>
        
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
    <script src="./scripts/script.js"></script>
        
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
        
	</body>
</html>
